.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.btn {
  margin-bottom: 5%;
}

.cardsGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 40px;
  width: 90%;
}

.card {
  max-width: 250px;
  height: 300px;
  cursor: pointer;
}

.cardWrap {
  display: flex;
  width: 100%;
  justify-content: center;
}