.btnWrapper {
    display: flex;
    justify-content: space-between;
}

.changeBtn {
    padding: 1rem;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all ease-in-out .25s;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.changeBtn:hover {
    color: #f300b4;
}