.btn {
  padding: 10px;
  border: 2px solid violet;
  border-radius: 6px;
  width: 50%;
  background-color: violet;
  margin: 10% 25%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}